# Don't add the ds4qb2 communication file
DS4QB2.DAT

# Don't add new executables
*.exe
seven-helms
*.o

# don't add save games
MUD.sav
sgame.sav

# Do not include FbEdit backup directory
Bak/*

# Don't include the undo file for the project
*.undo

# nothing generated under the fbsound directory
lib/fbsound0.10/*
