# Don't add any binaries
*.exe
seven-helms
*.o
*.so

# don't add save games
MUD.sav
sgame.sav

# Do not include FbEdit backup directory
Bak/*

# Don't include the undo file for the project
*.undo

# nothing generated under the fbsound directory
lib/fbsound0.10/*
